<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
  <div class="container">
      <a class="navbar-brand" id="navbar-brand">SKANDAR SABRI</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mx-auto">
          <!-- Accueil -->
          <li class="nav-item">
            <a class="nav-link" href="#profile">HOME</a>
          </li>
  
          <!-- Mes documents -->
          <li class="nav-item">
            <a class="nav-link" href="#resume" >RESUME</a>
          </li>
  
          <!-- Support -->
          <li class="nav-item">
            <a class="nav-link" href="#projects">PROJECTS</a>
          </li>
  
          <!-- À propos -->
          <li class="nav-item">
            <a class="nav-link" href="#cerfificat">CERTIFICATIONS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  