<div class="vg-footer">
  <h1 class="text-center">Follow Me</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-6 text-lg-right">
        <div class="footer-info">
          <p>Where to find me</p>
          <hr class="divider">
          <p class="fs-large fg-white">8011 Dar Chaabane el fehri, Tunis, Nabeul TN</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Follow me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li><a href="https://www.linkedin.com/in/skandar-sabri-3a8153216/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100020074085621">Facebook</a></li>
            <li><a href="https://github.com/skandar1999">Github</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Contact me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li>sabriskandar3@gmail.com</li>
            <li>+(+216) 23 787 064</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <p class="text-center mb-0 mt-4">Copyright &copy; 2023. All rights reserved | Made by Skandar Sabri</p>
      </div>
    </div>
  </div>
</div>
