<div class="banner">
    <div class="vg-page page-home" id="home" >
        <div class="caption wow zoomInUp">
          <h1 class="fw-normal">Welcome</h1>
          <h2 class="fw-medium fg-theme">I'm Skandar sabri</h2>
          <p class="tagline"> A Full-stack Developer and Designer </p>
        </div>
      </div>
</div>


<!-- Page About -->
<div id="profile">

<div class="vg-page page-about" id="about">
    <!-- Profile -->
    <div class="container py-3">
      <div class="row">
        <div class="col-md-6">
          <div class="img-place wow zoomIn">
            <img src="../assets/images/person.jpg" alt="Photo Profile">
          </div>
        </div>
        <div class="col-md-6">
          <div class="caption wow fadeInRight">
            <h2 class="fg-dark">Skandar sabri</h2>
            <h4 class="fg-theme fw-medium">A Full-stack Developer and Designer</h4>
            <p>I'm a 23 years old developer and designer from Tunisia , I am interested in software development , architecture and desing . I enjoy each procee of building a product, from conception to deployment</p>
            <ul class="theme-list">
              <li class="fg-dark"><b>From:</b> Tunisia</li>
              <li class="fg-dark"><b>Lives In:</b> Nabeul , TN</li>
              <li class="fg-dark"><b>Age:</b> 23</li>
              <li class="fg-dark"><b>Gender:</b> Male</li>
            </ul>
            <a class="btn btn-theme btn-rounded" href="https://drive.google.com/file/d/1IOL-49QR-_0MgmjhGBvDfEIp2MQYIfc4/view">CHECK MY CV</a>
          </div>
        </div>
      </div>
    </div>
    </div> <!-- End profile -->
 
    <!-- Resume -->
    <div id="resume">
    <div class="container pt-5">
      <div class="row">
        <h1 class="text-center">Resume</h1>
        <div class="col-md-6 wow fadeInRight">
          <h2 class="fg-dark">Education</h2>
          <ul class="timeline mt-4 pr-md-5">

            <li>
              <div class="title">2019 - 2023</div>
              <div class="details">
                <h5>UNDERGRADUATE DEGREE (LICENCE)
                </h5>
                <small class="fg-theme">Institut Supérieur des Etudes Technologiques de Nabeul 

                </small>
                <p>I studied multimedia and web development.</p>
              </div>
            </li>
            <li>
              <div class="title">2014 - 2018</div>
              <div class="details">
                <h5>BACHELOR'S DEGREE (INFORMATICS)
                </h5>
                <small class="fg-theme">Dar Chaabane El Fehri high school


                </small>
                <p>TI succeeded in the National Baccalaureate Competition.</p>
              </div>
            </li>
           
           
          </ul>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
          <h2 class="fg-dark">Experience</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title">2023</div>
              <div class="details">
                <h5>Capgemini engineering Tunisie</h5>
                <small class="fg-theme">Ariana – El Gazala Technologique parc
                </small>
                <p>Developing a web-based electronic document management application.                  .</p>
              </div>
            </li>
            <li>
              <div class="title">2022</div>
              <div class="details">
                <h5>Al Ansar Print</h5>
                <small class="fg-theme">Nabeul – Dar Chaabane El Fehri</small>
                <p>Website administration and management, as well as in photography and image processing for articles.</p>
              </div>
            </li>
            <li>
              <div class="title">2021</div>
              <div class="details">
                <h5>Hi-Tech Express</h5>
                <small class="fg-theme">Nabeul – city centre  </small>
                <p>Providing IT equipment sales and consulting services.</p>
              </div>
            </li>

            <li>
              <div class="title">2021</div>
              <div class="details">
                <h5>Fabrika, Reverse Festivals</h5>
                <small class="fg-theme">Nabeul and surroundings   </small>
                <p>Managing customer interactions, handling festival cash transactions, and ensuring cash control and sales operations.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End resume -->
  </div>


  <!-- Portfolio page -->
  <div id="projects">

  <div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h1 class="text-center"> My Projects</h1>

      </div>
  
      <div class="gridder my-3">
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/images/ACC.jpg" >
            <img src="../assets/images/ACC.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme"> DocuWise App</h5>
              <p>Electronic document management application created using Angular, Symfony, and MySQL.</p>
            </div>
          </div>
        </div>
        
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/images/ACC.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Web Development</h5> <p>Programming, Coding</p>">
            <img src="../assets/images/the village.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">The village App</h5>
              <p>A cafe restaurant app built with Angular, Spring Boot, and MySQL.</p>
            </div>
          </div>
        </div>
        
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/img/work/work-2.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Graphic Design</h5> <p>Creativity, Art</p>">
            <img src="../assets/images/.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Graphic Design</h5>
              <p>Creativity, Art</p>
            </div>
          </div>
        </div>

       
      </div> <!-- End gridder -->
      
      <div class="text-center wow fadeInUp">
        <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
      </div>
    </div>
  </div> 
  </div><!-- End Portfolio page -->
  


  <!-- cerfificat page -->
  <div id="cerfificat">

  <div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <h1 class="text-center"> My Certifications</h1>

      </div>
  
      <div class="gridder my-3">
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/images/ACC.jpg" >
            <img src="../assets/images/cert1.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">PHP & MySQL - Certification Course for Beginners </h5>
            </div>
          </div>
        </div>
        
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/images/ACC.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Web Development</h5> <p>Programming, Coding</p>">
            <img src="../assets/images/cert2.jpg" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">jQuery for Absolute Beginners : From Beginnig to advanced</h5>
            </div>
          </div>
        </div>
        
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="../assets/img/work/work-2.jpg" data-fancybox data-caption="<h5 class='fg-theme'>Graphic Design</h5> <p>Creativity, Art</p>">
            <img src="../assets/images/cert3.jpg" alt="">
            <div class="img-caption">
              Développez en Full Stack avec Spring Boot et Angular            </div>
          </div>
        </div>

       
      </div> <!-- End gridder -->
      
      <div class="text-center wow fadeInUp">
        <a href="javascript:void(0)" class="btn btn-theme">Load More</a>
      </div>
    </div>
  </div> 
  </div><!-- End Portfolio page -->



  </div> <!-- End page about -->